.timer {
    width: 36vw;
    height: 6vh;
    text-align: center;
    font-size: 4vh;
    text-shadow: 0.1vh 0.1vh 0.1vh white;
    line-height: 6vh;
    display: flex;
    justify-content: space-around;
}

.time {
    display: inline-block;
    width: 8vw;
    height: 6vh;
    text-align: center;
    background-color: #89c3f5;
    margin-left: 5px;
    margin-right: 5px;
    margin-bottom: 5px;
}

.buttons {
    max-width: 36vw;
    height: 4vh;
    display: flex;
    justify-content: space-around;
}

.output {
    position: absolute;
    left: 2vw;
    top: 3vh;
    font-size: 3vh;
    font-family: Verdana;
    color: #89c3f5;
}

.resInterval {
    border-bottom: 0.5px solid orange;
}
